body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', serif;
}

.nav {
	margin: 0;
	background-color: #191970;
	color: #ffffff;
	list-style: none;
	text-align: center;
	padding: 20px 0 20px 0;
}

.nav > li {
	display: inline-block;
	padding: 0 25px 0 25px;
}

.nav > li > a {
	text-decoration: none;
	color: #FFD700;
}

.nav > li > a:hover {
	color: #c1c1c1;
}

.banner {
 	width:100%;
 	display:block;
}

.banner > .banner-image {

 	width: 100%;
 	display: block;
}

.service1 {
	width: 300px;
	height: 300px;
	border: 1px solid #c1c1c1;
	margin: 20px 10px;
	padding: 0 5px;
	float: left;
	
}

.service1 > p {
	font-size: 14px;
	color: #636363;
	max-width: 250px;

}

.service2 {
	width: 300px;
	height: 300px;
	border: 1px solid #c1c1c1;
	margin: 20px 10px;
	padding: 0 5px;
	float: left;
	
}

.service2 > p {
	font-size: 14px;
	color: #636363;
	max-width: 250px;

}

.service3 {
	width: 300px;
	height: 300px;
	border: 1px solid #c1c1c1;
	margin: 20px 10px;
	padding: 0 5px;
	float: left;
	
}

.service3 > p {
	font-size: 14px;
	color: #636363;
	max-width: 250px;
	max-height: 250px;

}

 
.services {
	width: 1000px;
	margin: 0 auto;
}

h1 {
	font-size: 16px;
	font-weight: bold;
	background-color: #191970;
	color: #FFD700;
	padding: 10px 0;
	margin: 0 -6px;

}

.foplogoimage{
	max-width: 30%;
	max-height: 30%;
}

.heading {
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 75px;
  text-align: center;
  
  /*transform: skewY(-10deg);*/
  letter-spacing: 4px;
  word-spacing: -8px;
  color: hsl(240, 64%, 27%);

  text-shadow: 
    -1px -1px 0 rgb(255, 215, 0),
    -2px -2px 0 #FFD700,
    -3px -3px 0 #FFD700,
    /*-4px -4px 0 #191970,
    -5px -5px 0 #191970,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    */
    -30px 20px 40px dimgrey
}

.below-services {
	padding: 199px;
}

.footer {
	clear: both;
	position: relative;
	bottom: 0;
	width: 100%;
	background: #191970;
	color: #FFD700;
	height: 60px;
}

.footer .footer-bottom {
	font-size: 12.5px;
	padding: 10px;
}

.seniorprojectlogo {
	max-width: 2.5%;
	max-height: 2.5%;
	float: right;
}

